.Avatar {
    background-color: var(--grey-500);
    border-radius: 50%;
    color: var(--clr-text-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    margin-right: 0.5em;
    height: 42px;
    width: 42px;
    user-select: none;
    overflow: hidden;
}