.Card {
    border-radius: .5em;
    box-shadow: 0 1px 4px rgba(#000, 0.2);
    overflow: hidden;

    &-body {
        padding: 1.25em 1em 1em;

        >p {
            color: var(--clr-text-grey);
            font-size: var(--font-size-small);
            margin-bottom: 0.5em;
        }

        >span {
            color: var(--grey-500);
            display: block;
            font-size: 14px;
            margin-bottom: 0.25em;
        }
    }

    :is(h1, h2, h3) {
        font-size: 1.25rem;
        margin-bottom: 0.325em;
    }

}