.Dialog {
    $content-padding: 16px;

    display: none;

    &.open {
        display: block;
        position: fixed;
        inset: 0;
        z-index: 1000;
    }

    &-bg {
        display: block;
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(5px);
        position: fixed;
        inset: 0;
    }

    &-modal {
        background-color: var(--clr-bg-white);
        border: 2px solid var(--grey-600);
        border-radius: 5px;
        max-height: calc(100% - 62px);
        position: absolute;
        top: 50%;
        left: 50%;
        overflow-x: hidden;
        transform: translate(-50%, -50%);
        width: calc(100% - 62px);
        z-index: 1100;
    }

    &-heading {
        font-size: var(--font-size-h3);
        margin: $content-padding;
    }

    &-body {
        display: flex;
        flex-direction: column;
        margin: $content-padding;

        &-text {
            color: var(--clr-text-grey);
            font-size: var(--font-size-small);
        }
    }

    &-buttons {
        display: flex;
        justify-content: flex-end;
        margin: $content-padding;

        >.Button {
            margin-bottom: 0;
        }
    }
}