.Form {
    max-width: 500px;
    padding: 1em;
    width: 100%;

    &-title {
        font-size: 1.75rem;
        margin-bottom: .75em;
        // text-align: center;
    }

    &-group {
        display: flex;
        flex-direction: column;
        gap: .25em;
        margin-bottom: 1em;

        label {
            font-size: 14px;
            font-weight: 600;
        }

        input {
            appearance: none;
            border: 1.5px solid grey;
            border-radius: .45em;
            font: inherit;
            outline: none;
            padding: .5em;
            transition: 200ms ease-in;
            width: 100%;

            &:hover {
                box-shadow: 0 0 0 3px rgba(black, 0.25);
            }

            &:focus,
            &:focus-visible {
                border-color: blue;
            }
        }
    }
}

// Toggle switch
.ToggleSwitch {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    gap: 0.5em;

    &-switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 28px;
    }

    &-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &-slider {
        border-radius: 34px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &-slider:before {
        border-radius: 50%;
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.ToggleSwitch-slider {
        background-color: var(--primary-clr);
    }

    input:focus+.ToggleSwitch-slider {
        box-shadow: 0 0 1px var(--primary-clr);
    }

    input:checked+.ToggleSwitch-slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    }
}